<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobile_contentsapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="Doppio"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile_Contentsapp"
        android:usesCleartextTraffic="true">
        <activity android:name=".Profile.Setting"/>
        <activity android:name=".Profile.ProfileActivity"></activity>
        <activity android:name=".Main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Commu.CommuInsertActivity" />
        <activity android:name=".Recipe.RecipeSeeMore" />
        <activity android:name=".Commu.CommuSeeMore" />
        <activity
            android:name=".Recipe.RecipeInsertActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Main.MainActivity" />
        <activity android:name=".Login.SignUpActivity" />
        <activity android:name=".Login.SignInActivity">
        </activity>
    </application>

</manifest>